<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo-container">
                    <h1 routerLink="home">.dinou</h1>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon" (click)="openMenu()">
                    <i class="{{iconFul}}"></i>
                </div>
                <div class="desktop_menu" [class.mobile_menu]="afficheMobileMenu">
                    <ul>
                        <li (click)="closeMenu()" routerLink="home" class="menu">Home</li>
                        <!-- <li (click)="closeMenu()" routerLink="about" class="menu">Qui suis-je</li> -->
                        <!-- <li (click)="closeMenu()" routerLink="service" class="menu">Service</li> -->
                        <li (click)="closeMenu()" routerLink="projet" class="menu">Projects</li>
                        <li (click)="closeMenu()" routerLink="contact" class="menu">Contact</li>
                        <li (click)="downloadCV()" class="cv-dowd" >Telecharger</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>