  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text" style="text-transform: uppercase;">Portfolio Dinou 2024 </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/profile.php?id=61551116557347"><i class="bi bi-facebook"></i></a></li>
            <li><a class="whatsapp" href="https://api.whatsapp.com/send?phone=+22943349873&text=Bonjour%20Amos!"><i class="bi bi-whatsapp"></i></a></li>
            <li><a class="linkedin" href="www.linkedin.com/in/amos-gbedigassi"><i class="bi bi-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>