<div class="row row-bg">
  <div class="title-Po">
    <h3>PROJETS EFFECTUER</h3>
  </div>
</div>


<div class="container mt-4">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" (click)="projetsAll()" [class.active]="activeTab === ''">Mes Projets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" (click)="filterProj('Categorie 1')" [class.active]="activeTab === 'Categorie 1'">Projet Web</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" (click)="filterProj('Categorie 2')"  [class.active]="activeTab === 'Categorie 2'">Projet Design</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" (click)="filterProj('Categorie 3')"  [class.active]="activeTab === 'Categorie 3'">Projet Mobile</a>
    </li>
  </ul>

  <div class="row mt-3">
    <div class="col-md-4" *ngFor="let mesProjet of filterProjets">
      <div class="card">
        <a [routerLink]="['/projet', mesProjet.id]">
          <img [src]="mesProjet.image" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{mesProjet.title}}</h5>
            <p class="card-text">{{mesProjet.description}}</p>
          </div> 
        </a>
      </div>
    </div>
  </div>
</div>