.row-bg {
  min-height: 45vh;
  background-image: url('fond2.jpg'); /* Image en fond */
  background-size: cover; /* L'image couvre l'intégralité du conteneur */
  background-position: center; /* Centrage de l'image */
  background-repeat: no-repeat; /* Pas de répétition */
  position: relative; /* Permet de positionner l'élément enfant correctement */
  margin: 0 1px;
}

.title-Po {
  min-height: 10vh;
  background: #006f6699; /* Couleur semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h3 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  margin: 0;
}






.nav-tabs .nav-link.active {
  font-weight: bold;
  color: #fff;
  background-color: #023834;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

}

.nav-tabs .nav-link {
  font-weight: bold;
  color: #fff;
  background-color: #01564f;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.card {
  margin-bottom: 20px;
}

.aligP{
  display: flex;
}

a{
  border-radius: 0px !important;
  border: none;
  cursor: pointer;
}

.card{
  border-radius: 0px ;
}
img{
  border-radius: 0%;
}

.nav-tabs{
  border: none;
}

.card-body{
  background-color: #01564f;
  color: #fff;
  font-family: 'Montserrat', sans-serif;

  h5{
    text-transform: uppercase;
    font-size: 15px;
  }

  p{
    font-size: 10px;
  }
}

