<div class="container">
    <div class="row row-bg">
        <div class="col-md-12 col-sm-12 col-12 ">
            <span></span>
            <div class="bannier-text">
                <h4>GBEDIGASSI AMOS</h4>
                <div class="sous-titr-bannier">
                    <p>Graphiste & Développeur Web</p>
                    <h2>it is the unknown that the known is born.</h2>
                </div>
                <div class="title-service tit-bien">
                    <h3>Bienvenue sur mon portfolio !</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row title-qui">
        <div class="col-md-3 col-sm-3 col-3 "> <hr>  </div>
        <div class="col-md-6 col-sm-6 col-6 ">
            <h3>QUI SUIS-JE??</h3>
        </div>
        <div class="col-md-3 col-sm-3 col-3 "> <hr> </div>
    </div>

    <div class="row me-descrip">
        <div class="col-md-12 col-sm-12 col-12 ">
            <div class="text-desp">
                Je suis Amos Gbedigassi, un graphiste et développeur web passionné, spécialisé dans la création de solutions visuelles et fonctionnelles pour des projets variés. Avec plus de trois ans d'expérience dans le domaine du design graphique et du développement web, je combine créativité et compétences techniques pour offrir des résultats de haute qualité.
            </div>
            <div>
                <button class="btn btn-primary">DECOUVREZ PLUS</button>
            </div>
        </div>
    </div>

    <div class="row title-qui">
        <div class="col-md-3 col-sm-3 col-3 "> <hr>  </div>
        <div class="col-md-6 col-sm-6 col-6 ">
            <h3>MES COMPETANCES</h3>
        </div>
        <div class="col-md-3 col-sm-3 col-3 "> <hr> </div>
    </div>

    <div class="row contain-service justify-content-center">
        <div class="col-md-3 col-sm-12 col-12">
            <div class="card c1" >
                <span class="icon-c-serv"><img src="assets/icons/icons8-angular.svg" alt=""></span>
                <div class="title-card">
                    <h3>Angular</h3>
                    <div class="ligne"></div>
                </div>
                <p>Applications mobiles multiplateformes en utilisant Angular et d'autres technologies web modernes.</p>
            </div>
        </div>
    
        <div class="col-md-3 col-sm-12 col-12">
            <div class="card c2">
                <span class="icon-c-serv"><img src="assets/icons/icons8-ionic.svg" alt=""></span>
                <div class="title-card">
                    <h3>Ionic</h3>
                    <div class="ligne"></div>
                </div>
                <p>Applications mobiles multiplateformes en utilisant Angular et d'autres technologies web modernes.</p>
            </div>
        </div>
    
        <div class="col-md-3 col-sm-12 col-12">
            <div class="card c3">
                <span class="icon-c-serv"><img src="assets/icons/icons8-coreldraw.svg" alt=""></span>
                <div class="title-card">
                    <h3>CorelDRAW</h3>
                    <div class="ligne"></div>
                </div>
                <p>Création graphique professionnelle avec un logiciel de référence pour la conception visuelle.</p>
            </div>
        </div>
    </div>

    <div class="row title-qui">
        <div class="col-md-3 col-sm-3 col-3 "> <hr>  </div>
        <div class="col-md-6 col-sm-6 col-6 ">
            <h3>PROJETS RECENTS</h3>
        </div>
        <div class="col-md-3 col-sm-3 col-3 "> <hr> </div>
    </div>

    <div class="row conain-proj">
        <div class="col-md-4 projs" *ngFor="let proj of projs">
          <div class="card card-proj">
            <img [src]="proj.imgProjUrl" class="card-img-top">
            <div class="card-body">
              <p class="card-text">{{proj.titlProj}} </p>
            </div>
          </div>
        </div>
      </div>
   
</div>
