*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
}


/***section 1*/

.row-bg{
    min-height: 50px;
    /* background: #01564f; */
    min-height: 45vh;
    background-image: url('fond3.jpg'); /* Image en fond */
    background-size: cover; /* L'image couvre l'intégralité du conteneur */
    background-position: center; /* Centrage de l'image */
    background-repeat: no-repeat; /* Pas de répétition */
    position: relative; /* Permet de positionner l'élément enfant correctement */
    margin: 0 1px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.bannier-text{
    color: #fff;
    text-align: center;
    margin: 100px 0;

    h4{
        font-size: 4rem;
        font-weight: 800;
    }
    h2{
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
    }

    h3{
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 800;
    }
    p{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 100;
        color:#60ff57 ;
    }
    span{
        color: #60ff57;
    }
}


.tit-bien{
    h2{
        font-weight: 800 !important;
        font-size: 3rem !important;
    }
}


/*Mobile section 1*/

@media (max-width: 530px) {

    .row-bg{
        min-height: 50px;
        background-color:#01564f ;
    }

    .bannier-text{
        margin: 50px 0 !important;
        h4{
            font-size: 1.5rem;
        }
        h2{
            font-size: 10px;
            text-transform: uppercase;
        }
        h3{
            font-size: 25px;
            text-transform: uppercase;
        }
        p{
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 100;
            color:#60ff57 ;
        }
        span{
            color: #60ff57;
        }
    }

    .tit-bien{
        h2{
            font-size: 15px;
        }
    }
    

}


/*Mobile section 1*/


/*fin section 1*/





/*section 2*/
.title-qui{
    align-items: center;
    margin: 100px 200px;
    h3{
        text-align: center;
        font-size: 3.2rem !important;
        color: #01564f;
    }
}
.me-descrip{
    margin: 50px 20%;
text-align: center;
color: rgba(0, 0, 0, 0.64);
    button{
        padding: 10px;
        border-radius: 0;
        margin: 15px 0;
        background-color: #01564f;
        border: none;
    }
}

.text-desp{
    margin: 0 10%;
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 300;
}



/*Mobile section 2*/
@media (max-width: 530px) {

    .title-qui{
        margin: 50px 5px;
        h3{
            text-align: center;
            font-size: 1rem !important;
            color: #01564f;
            font-weight: 700;
        }
    }
    .me-descrip{
        margin: 0 10%;
        text-align: center;
    }

    .text-desp{
    margin: 0 1%;
    text-align: justify;
    font-size: 1rem;
    }
}

/*Mobile section 2*/



/*section 2*/



/*Section3*/

.title-service, .title-Réalisation{
    margin: 20px 14% 10px 14%;
    h2{
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
    }
    hr{
        border-color: #60ff57;
    }
}

.contain-service {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    text-align: center;
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    margin: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px #00000033;
}

.card h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 800;
}

.card p{
    font-weight: 200;
}

.card img {
    width: 50px;
    margin-bottom: 20px;
}

.title-card {
    padding: 20px 0;
}

.ligne {
    width: 50%;
    height: 4px;
    background-color: #000;
    margin: 10px auto;
}

/*Mobile section 2*/
@media (max-width: 530px) {

    .c1{
        background-color: #ff5e5e1a;
    }

    .c2{
        background-color: #5ebfff1a;
    }
    .c3{
        background-color: #64ffcb1a;
    }
}

/*Mobile section 2*/

/* section 3*/


/*section projet */




/*projets*/
.conain-proj{
    margin: 25px 10%;
}

.flex-proj{
    display: flex;
}
.card-proj{
    img{
        width: 100%;
    }
}

.card-body{
    background: linear-gradient(60deg, #01564f 42%, rgba(27,27,27,1) 100%);
    width: 100%;
    padding: 25px 0;
    color: #fff;
    font-weight: 700;
}

.projs{
    cursor: pointer;
}



/*MOBILE*/
@media (max-width: 530px) {

    .conain-proj{
        margin: 5px 5px;
    }

    .card-body{
        background: linear-gradient(60deg, #01564f 42%, rgba(27,27,27,1) 100%);
        width: 100%;
        padding: 25px 0;
        color: #fff;
        font-weight: 700;
    }
    
}
/* Media query for mobile devices */

  